<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile border-bottom">   
        <a href="#" class="nav-link flex-column" style="padding-top: 0px;">
          <div class="nav-profile-image">
                <img src="./assets/images/logo.png" alt="profile">
                <!--change to offline or busy as needed-->
          </div>
          <div class="nav-profile-text d-flex ms-0 mb-3 flex-column">
                <span class="font-weight-semibold mb-1 mt-2 text-center">Nutri-yes</span>
               
          </div>
        </a>  
    </li>
      <li class="pt-2 pb-1">
        <span class="nav-item-head">Menu</span>
      </li>
      <li class="nav-item" *ngIf="this.roleLoginUtilisateur == roleAdmine">
        <a class="nav-link" href="user">
          <i class="mdi mdi-account-multiple menu-icon"></i>
          <span class="menu-title">Gestion des utilisateurs</span>
        </a>
      </li>
      <!--li class="nav-item">
        <a class="nav-link collapsed" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic"> 
          <i class="mdi mdi-food menu-icon"></i>
          <span class="menu-title">Enquête alimentaire</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/ui-features/typography.html">Typography</a>
            </li>
          </ul>
        </div>
      </li-->
      <li class="nav-item">
        <a class="nav-link" href="malade">
          <i class="mdi mdi-hotel menu-icon"></i>
          <span class="menu-title">Gestion des patients</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="rendez-vous">
          <i class="mdi mdi-calendar-clock menu-icon"></i>
            <span class="menu-title">Gestion des rendez-vous</span>
        </a>
      </li>

    </ul>
  </nav>