.centered {
    position: absolute;
    top: 50%;
   
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  .card-body{
    margin-left: 20px;
  }

  .enquete-input{
    padding-top: 7px;
    padding-left: 7px;
    padding-bottom: 7px;
    padding-right: 7px;
}

@media screen and (min-width: 294px) {
    .freq-input{
        margin-left: 15px;
    }
  }
  @media screen and (max-width: 294px) {
    .freq-input{
        margin-left: 0px;
        margin-top: 15px;
    }
  }


  @media screen and (min-width: 578px) {
    .center-y{
      display: block;
      position: absolute;
      top: 50%;
      margin-right: 20px; 
     }
  }


  

  /*Menu pour choisir un le formulaire*/
 .center-text{
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .card-body-Rectangle{
  margin-left: 0px; 
  padding-left: 0px;
  padding-bottom: 11.5px;
  padding-top: 11.5px;
 }

.container{
  padding-left: 0px;padding-right: 0px;
}
 
